
.plant {
  padding: 30px;
}

.container {
  position: relative;
  width: 100%;
}

.image {
  width: 250px;
  height: 250px;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.overlay {
  transition: .5s ease;
  opacity: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  padding-top: 10px;
  padding-left: 90px;
  padding-right: 90px;
  padding-bottom: 10px;

  background-color: var(--not-black);

  cursor: pointer;

  color: #ffffff;
  font-size: 16px;
}

.info {
  text-align: center;
  padding: 0.5em;
}

.name {
  padding-top: 0.5em;
}

.price {
  padding-top: 1em;
  color: gray;
}