@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&display=swap');

.title {
  font-family: Pattaya, cursive, sans-serif, fantasy, monospace;
  color: var(--green);
  font-size: 50px;
  margin-bottom: 100px;
}