@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pattaya&display=swap');

:root {
  --backgroud: #ededeb;
  --green: #679c67;
  --white: #ffffff;
  --not-black: rgb(61, 61, 61);
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-thumb {
  background-color: #679c67;
  outline: 1px solid #679c67;
}

::-webkit-scrollbar {
  width: 12px;
}

@media screen and (max-width: 600px) {
  .navbar {
    font-size: 0.8em;
  }
}